.card-tarefa {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    
}

footer {
    position: fixed;
    width: 100vw;
    display: flex;
    padding: 15px 10px;
    justify-content: center;
    bottom: 0rem;
}

#tarefa-digitada {
    width: 40em;
    margin-right: 20px;

}